<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/da88d1f6d6.js"></script>
  </head>

  <body>
    <nav id="devisenav">
      <ul>
        <% if user_signed_in? %>
          <button id="devise"><%= link_to 'Edit Account', edit_user_registration_path %></button>
          <button id="devise"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></button>
        <% else %>
          <button id="devise"><%= link_to 'Sign In', new_user_session_path %></button>
          <button id="devise"><%= link_to 'Sign Up', new_user_registration_path %></button>
        <% end %>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
